{% extends 'layout.twig' %}

{% block content %}
    <div class="starter-template">
        <h1>Se connecter</h1>
        <p class="lead">Renseignez vos identifiants.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">

            <form role="form" method="get" action="{{ path('do_login') }}">
                <div class="form-group">
                <label for="login">login</label>
                <input type="login" class="form-control" id="login" placeholder="Votre login">
              </div>
              <div class="form-group">
                <label for="password">Email address</label>
                <input type="password" class="form-control" id="password" placeholder="Mot de passe">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default">Se connecter</button>
              </div>
            </form>
        </div>
    </div>
{% endblock %}
